<script setup lang="ts">
import { useShowStore } from '@/stores/ShowStore';
import { ElMessage } from 'element-plus';
import { nextTick, onMounted, reactive, ref } from 'vue';

const showStore = useShowStore();

const form = reactive({ password: '' });
const passwordInput = ref();
function checkSheetPassword() {
  const password = 'whiny mushroom crown harbor';
  if (form.password === password) {
    showStore.setShowSheetPasswordCheck(false);
    showStore.setView('EXCEL');
  } else {
    ElMessage.error('Incorrect password');
  }
}

onMounted(() => {
  nextTick(() => {
    passwordInput.value.focus();
  });
});
</script>

<template>
  <div @click.self="showStore.setShowSheetPasswordCheck(false)">
    <el-dialog
      v-model:modelValue="showStore.showSheetPasswordCheck"
      align-center
      width="30%"
      title="Enter the spreadsheet import tool password to access its menu"
    >
      <el-form v-model="form" center @submit.prevent="checkSheetPassword">
        <el-input
          ref="passwordInput"
          v-model="form.password"
          type="password"
          placeholder="Please input password"
          aria-label="password"
          size="large"
          show-password
        /> </el-form
      ><template #footer>
        <span>
          <el-button @click="showStore.setShowSheetPasswordCheck(false)"
            >Cancel</el-button
          ><el-button type="primary" @click="checkSheetPassword"
            >Submit</el-button
          ></span
        >
      </template>
    </el-dialog>
  </div>
</template>
