<script lang="ts">
import { defineComponent } from 'vue';
import templates from '../../constants/templates';

import type { DbPosition } from '@/types/db-position';
import type { DbItem } from '@/types/db-item';
import type { MessageOptions } from 'element-plus';

import { mapState, mapStores } from 'pinia';
import { useShowStore } from '../../stores/ShowStore';

export default defineComponent({
  name: 'ExportItem',

  setup() {
    const showStore = useShowStore();
    return { showStore };
  },

  data() {
    return {
      template: '',
      template_data: {},
      start_time: '',
      stop_time: '',
      form_data: { properties: {} } as Partial<DbItem>,
      position_data: {
        positions: [] as { doc: DbPosition }[],
      },
    };
  },

  computed: {
    ...mapState(useShowStore, ['exportItemId']),
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useShowStore),
  },

  watch: {
    async exportItemId(newVal: string): Promise<void> {
      if (!newVal) return;
      // watch it

      // get item and positions from local database
      const [item, positions] = await this.$db.getItemAndPositions(newVal);
      if (item) {
        this.loadTemplate(item.template);
        this.form_data = item;
        this.position_data.positions = positions.map((pos) => ({ doc: pos }));
      }
    },
  },
  mounted: function () {},
  methods: {
    exportItem(): void {
      const data: (string | boolean)[][] = [];
      data.push(['Timestamp', 'Lat', 'Lng', 'Heading', 'Speed']);

      for (const i in this.position_data.positions) {
        const positionDoc = this.position_data.positions[i].doc;
        if (
          new Date(positionDoc.timestamp) > new Date(this.start_time) &&
          new Date(positionDoc.timestamp) < new Date(this.stop_time)
        ) {
          const item: (string | boolean)[] = [];
          if (positionDoc.timestamp !== undefined)
            item.push(positionDoc.timestamp);
          if (positionDoc.lat !== undefined)
            item.push(positionDoc.lat.toString());
          if (positionDoc.lon !== undefined)
            item.push(positionDoc.lon.toString());
          if (positionDoc.heading !== undefined)
            item.push(positionDoc.heading.toString());
          if (positionDoc.speed !== undefined)
            item.push(positionDoc.speed.toString());
          data.push(item);
        }
      }
      // Building the CSV from the Data two-dimensional array
      // Each column is separated by ";" and new line "\n" for next row
      let csvContent = '';
      data.forEach(function (infoArray, index) {
        const dataString = infoArray.join(';');
        csvContent += index < data.length ? dataString + '\n' : dataString;
      });

      // The download function takes a CSV string, the filename and mimeType as parameters
      // Scroll/look down at the bottom of this snippet to see how download is called
      const download = function (content, fileName, mimeType) {
        const a = document.createElement('a');
        mimeType = mimeType || 'application/octet-stream';

        if (URL && 'download' in a) {
          //html5 A[download]
          a.href = URL.createObjectURL(
            new Blob([content], {
              type: mimeType,
            })
          );
          a.setAttribute('download', fileName);
          document.body.appendChild(a);
          a.click();
          document.body.removeChild(a);
        } else {
          location.href =
            'data:application/octet-stream,' + encodeURIComponent(content); // only this mime type is supported
        }
      };

      download(csvContent, 'dowload.csv', 'text/csv;encoding:utf-8');
    },
    async loadTemplate(template_name): Promise<void> {
      this.template_data = templates.get(template_name);
      await this.$nextTick();
    },
    closeModal(): void {
      this.showStore.setExportItemId(undefined);
    },
    async storeItem(): Promise<void> {
      const response: PouchDB.Core.Response | PouchDB.Core.Error =
        await this.$db.createItem(this.form_data as DbItem);

      if (!(response as PouchDB.Core.Response).ok) {
        const err = response as PouchDB.Core.Error;
        if (err.name == 'conflict')
          this.$message({
            type: 'error',
            duration: 5000,
            showClose: true,
            message: 'The id is already taken, please choose another one',
          } as MessageOptions & { title: string });
        else {
          this.$message({
            type: 'error',
            duration: 5000,
            showClose: true,
            message: 'An unknown error occured while creating the item',
          } as MessageOptions & { title: string });
        }

        console.error(err);
      } else {
        this.showStore.setExportItemId(undefined);
        this.$message({
          type: 'success',
          duration: 5000,
          showClose: true,
          message: 'The item has been updated.',
        } as MessageOptions & { title: string });
      }
    },
  },
});
</script>
<template>
  <div v-show="exportItemId" class="background" @click.self="closeModal">
    <div class="form-style-6">
      <h1>Export Item Positions</h1>
      <form @submit.prevent="exportItem">
        <div>
          <span>
            {{ 'Name' }}
          </span>
        </div>

        <el-input :value="form_data.properties.name" type="text" disabled />
        <span>Start Export at</span>
        <input
          v-model="start_time"
          type="datetime-local"
          placeholder="start time"
        />

        <span>Stop Export at</span>
        <input
          v-model="stop_time"
          type="datetime-local"
          placeholder="stop time"
        />

        <input type="submit" value="Generate CSV" />
      </form>
    </div>
  </div>
</template>

<style scoped>
.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.form-style-6 {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: #f7f7f7;
}
.form-style-6 h1 {
  background: #43d1af;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}
.form-style-6 input[type='text'],
.form-style-6 input[type='date'],
.form-style-6 input[type='datetime'],
.form-style-6 input[type='email'],
.form-style-6 input[type='number'],
.form-style-6 input[type='search'],
.form-style-6 input[type='time'],
.form-style-6 input[type='url'],
.form-style-6 textarea,
.form-style-6 select {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type='text']:focus,
.form-style-6 input[type='date']:focus,
.form-style-6 input[type='datetime']:focus,
.form-style-6 input[type='email']:focus,
.form-style-6 input[type='number']:focus,
.form-style-6 input[type='search']:focus,
.form-style-6 input[type='time']:focus,
.form-style-6 input[type='url']:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus {
  box-shadow: 0 0 5px #43d1af;
  padding: 3%;
  border: 1px solid #43d1af;
}

.form-style-6 input[type='submit'],
.form-style-6 input[type='button'] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #43d1af;
  border-bottom: 2px solid #30c29e;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}
.form-style-6 input[type='submit']:hover,
.form-style-6 input[type='button']:hover {
  background: #2ebc99;
}
</style>
