<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'InputTable',

  model: {
    prop: 'field',
  },

  emits: ['update:field'],

  data() {
    return {
      field: '' as string,
    };
  },

  watch: {
    field() {
      this.$emit('update:field', this.field);
    },
  },

  created() {
    this.field = this.$attrs.field ? (this.$attrs.field as string) : '';
  },

  methods: {
    addRow(): void {
      this.field += '\n';
    },
    deleteRow(index: number): void {
      const v = this.field?.split(/\r?\n/);
      v.splice(index, 1);
      this.field = v.join('\r\n');
    },
    editRow(value: string, index: number): void {
      const v = this.field?.split(/\r?\n/);
      v.splice(index, 1, value);
      this.field = v.join('\r\n');
    },
  },
});
</script>

<template>
  <div class="input_table">
    <el-table
      :data="field ? field.split(/\r?\n/) : ['']"
      style="width: 100%"
      max-height="250"
      :show-header="false"
    >
      <el-table-column style="width: 100%">
        <template #default="scope">
          <el-input
            v-model="scope.row"
            style="text-align: center"
            :placeholder="field.title"
            @input="editRow($event, scope.$index)"
          ></el-input>
        </template>
      </el-table-column>
      <el-table-column style="height: 100%">
        <template #default="scope">
          <el-button
            width="100px"
            title="Delete"
            type="danger"
            plain
            :disabled="field.split(/\r?\n/).length > 1 == false"
            fixed="right"
            @click.prevent="deleteRow(scope.$index, scope.row)"
            ><el-icon><DeleteFilled /></el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-button title="Add field" plain @click="addRow"
      ><el-icon><CirclePlusFilled /></el-icon
    ></el-button>
  </div>
</template>
