<script lang="ts">
import type { PropType } from 'vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'NumberInput',

  props: {
    /**
     * UI label that indicates what the checkbox symbolizes
     */
    label: { type: String as PropType<string>, required: true },
    /**
     * custom-specified value of the input
     * will also update whenever this.$data.value is updated
     */
    propValue: {
      type: Number as PropType<number>,
      required: false,
      default: -1,
    },
    /**
     * custom-specified minimum allowed value
     */
    propMinimumValue: {
      type: Number as PropType<number>,
      required: false,
      default: 0,
    },
    /**
     * custom-specified maximum allowed value
     */
    propMaximumValue: {
      type: Number as PropType<number>,
      required: false,
      default: Number.MAX_VALUE,
    },
    /**
     * custom-specified incremental step when clicking +/- buttons
     */
    propStep: { type: Number as PropType<number>, required: false, default: 1 },
  },

  emits: ['update:field'],

  data() {
    return {
      /**
       * actual value
       */
      value: this.propValue ? this.propValue : (-1 as number),
      /**
       * actual minimum value that is semantically allowed
       * either standard value or custom-specified prop-value
       */
      minimum_value: this.propMinimumValue
        ? this.propMinimumValue
        : (0 as number),
      /**
       * actual maximum value that is semantically allowed
       * either standard value or custom-specified prop-value
       */
      maximum_value: this.propMaximumValue
        ? this.propMaximumValue
        : (Number.MAX_VALUE as number),
      /**
       * actual maximum value that is semantically allowed
       * either standard value or custom-specified prop-value
       */
      step: this.propStep ? this.propStep : (1 as number),
    };
  },

  computed: {
    isWithinBounds(): boolean {
      return (
        this.value >= this.minimum_value && this.value <= this.maximum_value
      );
    },
  },

  watch: {
    /**
     * Once input value changes, notify parent component.
     * parent component can listen to this event to update
     * e.g. corresponding form state value accordingly
     */
    value() {
      this.$emit('update:field', this.value);
    },
  },

  methods: {
    /**
     * Listens on check/uncheck events of the checkbox.
     *
     * this.minimum_value - 1 is used to symbolize the state
     * "Unknown" / "Prefer to day" / "Unfilled" / "All",
     * depending on context
     *
     * Depending on whether input value is within bounds or not,
     * reset to "0" or to "Unknown" state.
     */
    resetValue() {
      this.value = this.isWithinBounds ? this.minimum_value - 1 : 0;
    },
  },
});
</script>

<template>
  <div>
    <el-row :gutter="20" type="flex">
      <el-col :span="12">
        <el-input-number
          v-model="value"
          :step="step"
          :min="minimum_value - 1"
          :max="maximum_value"
          :disabled="!isWithinBounds"
        />
      </el-col>
      <el-col :span="12"
        ><el-checkbox
          :model-value="!isWithinBounds"
          style="width: auto !important"
          :label="label"
          border
          @change="resetValue"
      /></el-col>
    </el-row>
  </div>
</template>
