<script lang="ts">
import type { MapConfig } from '@/types/config';
import { defineComponent } from 'vue';
import storage from '../utils/storageWrapper';
import { describeTrackConfigTimespan } from '@/utils/datetimeUtils';

import DatetimePicker from './DatetimePicker.vue';

import { mapStores } from 'pinia';
import { useDataStore } from '../stores/DataStore';
import { useMapStore } from '@/stores/MapStore';
import { useShowStore } from '../stores/ShowStore';

export default defineComponent({
  name: 'GlobalSettings',

  components: {
    DatetimePicker,
  },

  setup() {
    const dataStore = useDataStore();
    const mapStore = useMapStore();
    const showStore = useShowStore();
    return { dataStore, mapStore, showStore };
  },

  data() {
    return {
      new_map_config: {
        tracks: storage.get_map_tracks_config(),
        layers: storage.get_map_layers_config(),
      } as MapConfig,
    };
  },

  computed: {
    trackConfigDescription() {
      return (
        `This will show positions ` +
        describeTrackConfigTimespan(this.new_map_config?.tracks) +
        '.'
      );
    },

    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useDataStore, useMapStore, useShowStore),
  },

  methods: {
    closeModal(): void {
      this.showStore.setShowSettings(false);
    },
    save(): void {
      const mapTracksConfigChanged: boolean =
        JSON.stringify(this.new_map_config.tracks) !=
        JSON.stringify(storage.get_map_tracks_config());

      const mapLayersConfigChanged: boolean = !Object.is(
        JSON.stringify(this.new_map_config.layers),
        JSON.stringify(storage.get_map_layers_config())
      );

      if (mapTracksConfigChanged) {
        storage.set('map_tracks', JSON.stringify(this.new_map_config.tracks));
        this.dataStore.reloadPositionsFromLocalDatabase(undefined);
        this.$map.setItemSections(
          this.dataStore.allFilteredItems,
          this.dataStore.positionsPerItem
        );
      }
      if (mapLayersConfigChanged) {
        storage.set('map_layers', JSON.stringify(this.new_map_config.layers));
      }

      if (mapTracksConfigChanged || mapLayersConfigChanged) {
        this.$map.updateMapConfig(this.new_map_config);
        this.mapStore.updateStorage();
      }
      this.closeModal();
    },
    updateMapConfigTracksField(field, event): void {
      this.new_map_config.tracks[field] = event;
    },
  },
});
</script>

<template>
  <div class="background" @click.self="closeModal">
    <div class="form-style-6">
      <h1>Settings</h1>
      <form @submit.prevent="save">
        <span>Default Tileset:</span>
        <div>
          <el-radio-group
            v-model="new_map_config.layers.background_tiles"
            class="flex flex-col items-start"
          >
            <el-radio label="light">Light (OF server)</el-radio>
            <el-radio label="dark">Dark (OF server)</el-radio>
            <el-radio label="extra">Extra (OF server)</el-radio>
            <el-radio label="greyscale"
              >Greyscale Map (public openstreetmap server)</el-radio
            >
          </el-radio-group>
        </div>
        <br />

        <span>Default Time Range for Item Tracks: </span> <br />
        <div style="margin: 0px 10px 0px 10px">
          <el-radio-group
            v-model="new_map_config.tracks.type"
            size="default"
            style="margin: 10px 0px 10px 0px"
          >
            <el-radio-button label="number_of_days"
              >By Number of Days</el-radio-button
            >
            <el-radio-button label="date_range">By Date Range</el-radio-button>
          </el-radio-group>

          <div style="display: flex">
            <span
              v-if="new_map_config.tracks.type == 'number_of_days'"
              style="width: 50%"
            >
              <label for="track_number_of_days">Days:</label><br />
              <el-input-number
                id="track_number_of_days"
                v-model="new_map_config.tracks.show_past_days"
                size="small"
                :min="1"
                @change="updateMapConfigTracksField('show_past_days', $event)"
              />
            </span>
            <span
              v-if="new_map_config.tracks.type == 'date_range'"
              style="width: 50%"
            >
              <label for="track_startdate">From:</label>
              <DatetimePicker
                id="track_startdate"
                placeholder="Oldest Date (UTC)"
                format="YYYY-MM-DD HH:mm"
                :datetime-local="new_map_config.tracks.oldest_date_iso"
                @update_datetime="
                  updateMapConfigTracksField('oldest_date_iso', $event)
                "
              />
            </span>

            <span style="width: 50%">
              <label
                v-if="new_map_config.tracks.type == 'number_of_days'"
                for="track_enddate"
                >Before:</label
              >
              <label
                v-if="new_map_config.tracks.type == 'date_range'"
                for="track_enddate"
                >To:</label
              >
              <DatetimePicker
                id="track_enddate"
                placeholder="Newest Date (UTC)"
                format="YYYY-MM-DD HH:mm"
                :datetime-local="new_map_config.tracks.newest_date_iso"
                @update_datetime="
                  updateMapConfigTracksField('newest_date_iso', $event)
                "
              />
            </span>
          </div>

          <el-alert
            :title="trackConfigDescription"
            type="info"
            center
            size="small"
            :closable="false"
          />

          <el-alert
            v-if="new_map_config.tracks.newest_date_iso"
            title="Attention: If the end date is set, no new positions will be shown on the map after the respective date."
            type="warning"
          >
          </el-alert>

          <br />
          <span>Show Openseamap</span>
          <input
            v-model="new_map_config.layers.openseamap"
            type="checkbox"
            value="true"
          />
          <br />
          <span>Show position timestamps</span>
          <input
            v-model="new_map_config.layers.positiontimestamps"
            type="checkbox"
            value="true"
          />
        </div>
        <input type="submit" value="Save" />
      </form>
    </div>
  </div>
</template>

<style scoped>
.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
</style>
