<script lang="ts">
import { defineComponent } from 'vue';
import type { DbItem } from '@/types/db-item';
import type { DbPosition } from '@/types/db-position';
import type { ItemTemplateField } from '@/types/item-template-schema';

import templates from '../constants/templates';

import { ElCollapse, ElCollapseItem } from 'element-plus';
import ListViewCategory from './ListViewCategory.vue';

import storage from '../utils/storageWrapper';
import { mapState } from 'pinia';
import { useDataStore } from '../stores/DataStore';

export interface TemplateCategory {
  plural: string;
  pouch_identifier: string;
  category_base_items: DbItem[];
  fields: ItemTemplateField[];
}

export type TemplateCategories = {
  [key: string]: TemplateCategory;
};

export default defineComponent({
  name: 'ListView',
  components: {
    'el-collapse': ElCollapse,
    'el-collapse-item': ElCollapseItem,
    ListViewCategory,
  },
  data() {
    return {
      base_items: [] as DbItem[],
      activeCategories: [templates.get('ship').plural] as string[],
      latestPositionTimestampPerItem: {} as Record<string, string>,
      componentKey: 0 as number,
    };
  },
  computed: {
    ...mapState(useDataStore, ['itemsReloaded']),

    allCategories(): TemplateCategories {
      const allTemplates = templates.getAll();
      const categoryTabs: TemplateCategories = {};

      for (const baseItem of this.base_items) {
        const templateInfos = allTemplates[baseItem.template];
        // ignore items with unknown templates
        if (templateInfos) {
          if (!categoryTabs[baseItem.template]) {
            const templateInfos = allTemplates[baseItem.template];
            categoryTabs[baseItem.template] = {
              plural: templateInfos.plural,
              pouch_identifier: templateInfos.pouch_identifier,
              category_base_items: [],
              fields: templateInfos.fields,
            };
          }

          const category = categoryTabs[baseItem.template];
          if (category) {
            category.category_base_items.push(baseItem);
          }
        }
      }
      return categoryTabs;
    },
  },
  watch: {
    latestPositionTimestampPerItem: {
      immediate: true,
      deep: true,
      handler() {
        this.componentKey += 1;
      },
    },
    itemsReloaded: {
      async handler() {
        this.base_items = await this.$db.getBaseItems();
      },
    },
  },

  async created(): Promise<void> {
    this.base_items = await this.$db.getBaseItems();
    // Get positions for base items
    this.loadPositionTimestampsForItems();
  },

  methods: {
    async loadPositionTimestampsForItems(): Promise<void> {
      const common_tracks_config = storage.get_map_tracks_config();

      const latest_position_timestamp_per_item: { [key: string]: string } = {};

      const promises: any[] = this.base_items.map((base_item) =>
        this.$db
          .getPositionsForDbItem(base_item, common_tracks_config)
          .then((db_positions: DbPosition[]) => {
            if (db_positions[0]) {
              latest_position_timestamp_per_item[base_item._id] =
                db_positions[0].timestamp;
            }
          })
          .catch((error) => {
            console.log(error);
          })
      );

      // Only update when all promises are resolved or rejected to minimize component freezing.
      return Promise.all(promises).then(() => {
        this.latestPositionTimestampPerItem =
          latest_position_timestamp_per_item;
      });
    },
    returnLocaleDate(date: string) {
      return new Date(date).toLocaleString();
    },
  },
});
</script>

<template>
  <div class="min-w-[400px] pl-4 pt-4 overflow-y-auto">
    <el-collapse v-model="activeCategories">
      <el-collapse-item
        v-for="(category, index) in allCategories"
        :key="index + componentKey.toString()"
        class="categories"
        :title="category.plural"
        :name="category.plural"
      >
        <ListViewCategory
          :category="category as TemplateCategory"
          :latest-position-timestamp-per-item="latestPositionTimestampPerItem"
        />
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<style>
.el-collapse-item__header {
  font-size: 22px;
  color: theme('colors.primary');
}
</style>
