<script lang="ts">
import { defineComponent } from 'vue';

import type { LogEntry } from '@/types/db-log';

import { formatTimestamp } from '@/utils/datetimeUtils';

import { mapStores } from 'pinia';
import { useShowStore } from '../stores/ShowStore';

export default defineComponent({
  name: 'LogSidebar',

  components: {},

  setup() {
    const showStore = useShowStore();
    return { showStore };
  },

  data() {
    return {
      entries: [] as LogEntry[],
    };
  },

  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useShowStore),
  },

  async created(): Promise<void> {
    this.entries = await this.$db.getLog();
  },

  methods: {
    closeModal(): void {
      this.showStore.setShowLogSidebar(false);
    },
    showItemDetails(itemId: string): void {
      this.showStore.setShowItem({ id: itemId, positions: null });
    },
    formatTimestamp,
  },
});
</script>

<template>
  <div class="log" @click.self="closeModal">
    <ul>
      <li v-for="entry in entries" :key="entry._id">
        <header>
          <span class="timestamp">{{
            formatTimestamp(
              entry._id.split('_')[entry._id.split('_').length - 1]
            )
          }}</span>
          <el-icon><User /></el-icon>
          {{ entry.user }} updated "{{ entry.change.index }}" on item
          <a href="#">
            {{
              entry._id.replace(
                '_' + entry._id.split('_')[entry._id.split('_').length - 1],
                ''
              )
            }}
          </a>
        </header>
        <div>
          <span v-if="entry.change.old" class="old">
            {{ entry.change.old }}
          </span>
          <span v-if="entry.change.new" class="new">
            {{ entry.change.new }}
          </span>
          <span
            v-if="entry.comment && entry.comment.length > 0"
            class="comment"
          >
            {{ entry.comment }}
          </span>
        </div>
      </li>
    </ul>
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.log {
  overflow: auto;
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  padding: 15px;
  width: 23vw;
  z-index: 9999;
  font-size: 10px;
  background: rgb(55, 60, 68, 0.2);
}

.log .timestamp {
  font-size: 8px;
  position: absolute;
  width: 118px;
  right: 16px;
  margin-top: -14px;
  color: #545454;
}

.log ul li {
  background: #fff;
  padding: 13px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.log ul li header {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 3px;
}
.log ul li .new,
.log ul li .old {
  display: block;
}

.log ul li .old {
  color: #ff7272;
}
.log ul li .old:before {
  color: #ff7272;
  content: '- ';
}

.log ul li .new:before {
  color: #52f500;
  content: '+ ';
}

.log a:link {
  text-decoration: none;
}
</style>
