<script lang="ts">
import { computed } from 'vue';
import { ref } from 'vue';
import { defineComponent } from 'vue';
import type { Templates } from '../constants/templates';
import templates from '../constants/templates';

import { databasesApi } from '@/utils/databasesApi';
import {
  describeTrackConfigTimespan,
  formatTimestamp,
  timeSince,
  colorSince,
} from '@/utils/datetimeUtils';
import data from '../assets/helpful_links.json';

import { mapStores } from 'pinia';
import { useAuthStore } from '../stores/AuthStore';
import { useDataStore } from '@/stores/DataStore';
import { useMapStore } from '@/stores/MapStore';
import { useShowStore } from '../stores/ShowStore';

export default defineComponent({
  name: 'TopNavigation',
  components: {},

  setup() {
    const links = computed(() => {
      return ref(data);
    });

    const authStore = useAuthStore();
    const dataStore = useDataStore();
    const mapStore = useMapStore();
    const showStore = useShowStore();

    return { links, authStore, dataStore, mapStore, showStore };
  },

  data() {
    return {
      status_light_data: {
        time_now: new Date() as Date,
        intervalTimer: null as NodeJS.Timeout | null,
      },
    };
  },
  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useAuthStore, useDataStore, useMapStore, useShowStore),
    printLastGPSPosition(): string {
      return `Last new GPS position (${this.timeSince(
        this.dataStore.lastPositionTimestamp
      )} ago): ${
        formatTimestamp(this.dataStore.lastPositionTimestamp) || 'never'
      }`;
    },
    printLastServerChange(): string {
      return `Last change from database (${this.timeSince(
        this.dataStore.lastDbChange
      )} ago): ${formatTimestamp(this.dataStore.lastDbChange) || 'never'}`;
    },
    printPositionLimits(): string {
      return (
        `Showing the ${this.mapStore.map_tracks_config.length_limit} most recent positions` +
        describeTrackConfigTimespan(this.mapStore.map_tracks_config)
      );
    },
    statusLightColor(): string {
      // see CSS below for green, yellow, red, blue, grey:
      return colorSince(
        this.dataStore.lastPositionTimestamp,
        this.status_light_data.time_now
      );
    },
    template_options(): typeof templates.keys {
      return templates.uiKeys;
    },
  },
  created(): void {
    this.status_light_data.intervalTimer = setInterval(() => {
      this.status_light_data.time_now = new Date();
    }, 1000);
  },
  methods: {
    capitalizeFirstLetter(string: any): string {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    changeModus(value: any): void {
      this.showStore.setView(value);
    },
    createItem(): void {
      this.showStore.setCreateItem({ show: true });
    },
    createNewItem(template_type: keyof typeof Templates.templates): void {
      this.showStore.setCreateItem({
        show: true,
        templateKey: template_type,
        positions: [],
      });
    },
    sheetPasswordCheck(): void {
      this.showStore.setShowSheetPasswordCheck(true);
    },
    navRightDropdownCommands(command: string): void {
      if (command === 'showSettings') {
        this.showStore.setShowSettings(true);
      } else if (command === 'importtool') {
        this.sheetPasswordCheck();
      } else if (command === 'logout') {
        this.authStore.logout();
        this.showStore.setLogin({
          show: true,
          errorMessage: undefined,
        });
      }
    },
    timeSince(date): string {
      return timeSince(date, this.status_light_data.time_now);
    },
    toggleLog(): void {
      this.showStore.setShowLogs(!this.showStore.showLogs);
    },
    logout(): void {
      databasesApi.logout();
      this.authStore.logout();
      this.showStore.setLogin({ show: true, errorMessage: undefined });
    },
    formatTimestamp,
    openLink(link: string): void {
      window.open(link, '_blank', 'noopener,noreferrer');
    },
  },
});
</script>

<template>
  <nav class="bg-secondary py-3 flex items-center justify-between text-white">
    <div class="flex">
      <img src="../assets/logo.png" class="h-10 mx-4" />
      <div class="flex items-center ml-4">
        <el-tooltip placement="bottom" effect="light">
          <template #content>
            <div>
              {{ printLastServerChange }} <br />
              {{ printLastGPSPosition }} <br />
              <br />
              {{ printPositionLimits }}
            </div>
          </template>
          <div :class="'circle ' + statusLightColor"></div>
        </el-tooltip>
      </div>
      <div class="flex items-center px-4 text-xl">
        {{ formatTimestamp(status_light_data.time_now, false) }}
      </div>
      <div class="flex items-center px-4">
        <el-dropdown @command="createNewItem">
          <span class="ml-4 text-white cursor-pointer text-lg">
            <i class="fas fa-plus-circle" />
            New...
          </span>
          <template #dropdown>
            <el-dropdown-menu>
              <el-dropdown-item
                v-for="template_option in template_options"
                :key="template_option"
                :command="template_option"
                >{{ capitalizeFirstLetter(template_option) }}</el-dropdown-item
              >
            </el-dropdown-menu>
          </template>
        </el-dropdown>
      </div>
    </div>
    <div class="flex cursor-pointer text-xl">
      <p class="mr-4" @click="changeModus('MAP')">
        <i class="fas fa-map-marked" />
        <span class="ml-1">Map</span>
      </p>
      <p
        :class="{ active: showStore.view == 'LIST' }"
        @click="changeModus('LIST')"
      >
        <i class="fas fa-list-alt"></i>
        <span class="ml-1">List</span>
      </p>
    </div>
    <div class="flex items-center">
      <p
        :class="{ active: showStore.showLogs }"
        class="mx-4 flex items-center text-white cursor-pointer"
        @click="toggleLog()"
      >
        <span class="text-white text-base">
          <i class="fas fa-list mr-1" />
          Log
        </span>
      </p>
      <el-dropdown :hide-on-click="false">
        <span class="mx-4 text-white text-base">
          <el-icon class="mr-1">
            <Link />
          </el-icon>
          Links
        </span>
        <template #dropdown>
          <el-dropdown-menu
            v-for="[key, entry] in Object.entries(links.value)"
            :key="key"
            :value="entry"
            ><el-dropdown-item @click="openLink(entry.link)">{{
              entry.name
            }}</el-dropdown-item>
          </el-dropdown-menu>
        </template>
      </el-dropdown>
      <el-dropdown @command="navRightDropdownCommands">
        <span class="mx-4 text-white text-base">
          <span style="white-space: nowrap">
            <i class="fas fa-user"></i>
            {{ authStore.username }}
            <el-icon>
              <ArrowDown />
            </el-icon>
          </span>
        </span>
        <template #dropdown>
          <el-dropdown-menu>
            <el-dropdown-item command="importtool">
              <a>Import tool</a>
            </el-dropdown-item>
            <el-dropdown-item command="showSettings">
              <a>Settings</a>
            </el-dropdown-item>
            <el-dropdown-item command="logout">
              <a>Logout</a>
            </el-dropdown-item>
          </el-dropdown-menu>
        </template>
      </el-dropdown>
    </div>
  </nav>
</template>

<style>
.circle {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  position: relative;
  height: 10px;
  width: 10px;
}

.circle::after {
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  content: ' ';
  position: absolute;
  top: 1px;
  left: -1px;
  width: 7.5px;
  height: 7.5px;
}

.circle.red {
  background-color: #c0392b;
  box-shadow: 0 0 10px 2.5px #c0392b;
}
.circle.yellow {
  background-color: #f1c40f;
  box-shadow: 0 0 10px 2.5px #f1c40f;
}
.circle.green {
  background-color: #2ecc71;
  box-shadow: 0 0 10px 2.5px #2ecc71;
}
.circle.blue {
  background-color: rgb(0, 134, 243);
  box-shadow: 0 0 10px 2.5px rgb(0, 134, 243);
}
.circle.grey {
  background-color: #999;
  box-shadow: 0 0 10px 2.5px #999;
}
</style>
