<script lang="ts">
import { defineComponent } from 'vue';

import MainWindow from './components/MainWindow.vue';

import EditItem from './components/items/EditItem.vue';
import ExportItem from './components/items/ExportItem.vue';

// vue-components: other modals & popups
import LoginScreen from './components/Login.vue';
import GlobalSettings from './components/GlobalSettings.vue';
import LoadingScreen from './components/LoadingScreen.vue';
import CalcImportPasswordCheck from './components/items/CalcImportPasswordCheck.vue';

import { mapStores } from 'pinia';
import { useDataStore } from './stores/DataStore';
import { useShowStore } from './stores/ShowStore';

export default defineComponent({
  name: 'App',
  components: {
    // main window areas:
    MainWindow,
    EditItem,
    ExportItem,
    // other modals & popups:
    LoginScreen,
    GlobalSettings,
    LoadingScreen,
    CalcImportPasswordCheck,
  },

  setup() {
    const dataStore = useDataStore();
    const showStore = useShowStore();
    return { dataStore, showStore };
  },

  computed: {
    // note we are not passing an array, just one store after the other
    // each store will be accessible as its id + 'Store'
    ...mapStores(useDataStore, useShowStore),
  },

  created(): void {
    this.dataStore.initFilters();
  },
});
</script>

<template>
  <div class="h-screen">
    <CalcImportPasswordCheck v-if="showStore.showSheetPasswordCheck" />
    <LoadingScreen v-if="showStore.showLoading" />
    <LoginScreen v-if="showStore.loginScreen.show" />
    <GlobalSettings v-if="showStore.showSettings" />

    <EditItem v-if="showStore.showItem.id || showStore.createItem.show" />
    <ExportItem v-show="showStore.exportItemId" />

    <MainWindow />
  </div>
</template>
