@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --el-color-primary: theme("colors.primary");
}

h1 {
  @apply text-3xl;
  @apply pt-2;
  @apply pb-4;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-control-layers-selector {
  @apply mr-1;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: theme("colors.black");
  text-align: left;
  background-color: theme("colors.white");
}

.background {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: theme('colors.secondary_transparent');
  z-index: 2001;
}

.form-style-6 {
  max-width: 600px;
  margin: 10px auto;
  padding: 16px;
  background: theme("colors.white");
}
.form-style-6 input[type='text'],
.form-style-6 input[type='textarea'],
.form-style-6 input[type='date'],
.form-style-6 input[type='datetime'],
.form-style-6 input[type='email'],
.form-style-6 input[type='number'],
.form-style-6 input[type='search'],
.form-style-6 input[type='time'],
.form-style-6 input[type='url'],
.form-style-6 input[type='password'],
.form-style-6 input[type='checkbox'],
.form-style-6 input[type='datetime-local'],
.form-style-6 textarea,
.form-style-6 select {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: theme("colors.white");
  border: 1px solid theme("colors.light_gray");
  padding: 3%;
  color: theme("colors.dark_gray");
  font: 95% Arial, Helvetica, sans-serif;
}

.form-style-6 input[type='checkbox'] {
  height: 10px;
  width: auto;
}

.form-style-6 input[type='text']:focus,
.form-style-6 input[type='textarea']:focus,
.form-style-6 input[type='date']:focus,
.form-style-6 input[type='datetime']:focus,
.form-style-6 input[type='email']:focus,
.form-style-6 input[type='number']:focus,
.form-style-6 input[type='search']:focus,
.form-style-6 input[type='time']:focus,
.form-style-6 input[type='url']:focus,
.form-style-6 input[type='password']:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus {
  box-shadow: 0 0 5px theme("colors.primary");
  padding: 3%;
  border: 1px solid theme("colors.primary");
}

.form-style-6 input[type='submit'],
.form-style-6 input[type='button'],
.form-style-6 input[type='cancel'] {
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: theme("colors.primary");
  border-bottom: 2px solid theme("colors.primary");
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
  cursor: pointer;
}
.form-style-6 input[type='submit']:hover,
.form-style-6 input[type='button']:hover {
  background: theme("colors.primary");
}
.form-style-6 input[type='cancel']:hover {
  background: theme("colors.secondary_dark");
}

.iconwrapper {
  width: 100%;
}
.iconwrapper input {
  width: 80% !important;
}
.preview-icon {
  border: 1px solid #c9c9c9;
  margin-left: 10px;
  padding: 11px;
}

.save_cancel_buttons {
  position: sticky;
  bottom: 0;
}

.save_cancel_buttons input {
  width: 49% !important;
  margin-bottom: 1%;
}
.save_cancel_buttons input[type='submit'] {
  margin-right: 2%;
}
.save_cancel_buttons input[type='cancel'] {
  background: theme("colors.light_red");
  border-bottom: 2px solid theme("colors.light_red");
}
.save_cancel_buttons input:disabled {
  background-color: #cccccc;
  color: #666666;
  background: #cccccc;
}

.tags-input-wrapper-default,
.tags-input-wrapper-default.active {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  border-color: #dbdbdb;
  box-shadow: none;
}

.el-tabs__item.is-active {
  color: theme("colors.primary");
}

.el-button {
  background-color: var(--el-button-bg-color);
}

.el-input.is-disabled .el-input__inner {
  border: none;
}

.el-tabs--border-card > .el-tabs__content {
  padding: 15px 0;
}
