<script lang="ts">
import type { PropType } from 'vue';
import { defineComponent } from 'vue';
import type { DrawnAreaPopupData } from '@/types/popup';

import DatetimePicker from '../DatetimePicker.vue';

export default defineComponent({
  name: 'DrawnAreaPopup',
  components: {
    DatetimePicker,
  },
  props: {
    popupData: {
      type: Object as PropType<DrawnAreaPopupData>,
      default: () => ({
        area_readable: 'Unknown Area',
        positions: [],
      }),
    },
  },

  data() {
    return {
      /**
       * The date and time of sighting in UTC.
       */
      sightingDatetimeUtc: null as Date | null,
    };
  },
  computed: {},

  watch: {},

  mounted: function () {},

  created: function () {},

  methods: {
    updateSightingDatetimeUtc(event: Date | string | null | undefined) {
      if (event) {
        this.sightingDatetimeUtc = new Date(event);
      } else {
        this.sightingDatetimeUtc = null;
      }
    },
  },
});
</script>

<template>
  <div>
    <a href="#">Get historic ais data for this area</a><br />
    <a href="#">add sighting at time: </a>
    <DatetimePicker
      ref="datetime_picker"
      placeholder="Enter time of sighting (UTC)"
      :mandatory="true"
      @update_datetime="updateSightingDatetimeUtc($event)"
    />
    <br />

    Area: {{ popupData.area_readable }} <br />
    ({{ popupData.positions.length }} corners)
  </div>
</template>
